.techvanto-all-course-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 15px;
}

@media only screen and (max-width: 1000px) {
  .techvanto-all-course-button {
    justify-content: center !important;
  }
}
