.techvanto-student-says-heading-text {
  text-align: center;
}
.techvanto-student-says {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* .techvanto-student-says .alice-carousel__wrapper{
}

.techvanto-student-says-carousel{
} */
