.allCourses {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.course-panelList-wrap,
.course-panel-wrap,
.course-list-wrap {
  overflow: scroll;
}
.list-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.course-panelList-wrap {
  display: flex;
  flex: 1;
}
.course-panel-wrap {
  /* background: red; */
  flex-basis: 300px;
  padding: 17px;
  /* padding-left: 10px; */
}

.course-list-wrap {
  /* background: blue; */
  flex: 1;
  padding: 17px;
}
