.techvanto-content-header-image {
  min-height: 70vh !important;

  /* background: #578bc0 url("../../assets/Svgs/hero.svg") 0 0 no-repeat; */
  background-size: auto 100% !important;
  background-position: right !important;
}
.techvanto-content-header-image .css-1oqqzyl-MuiContainer-root {
  max-width: 1894px;
}
.techvanto-header-content {
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  height: 60vh;
  text-align: left;
  margin: 50px 50px 50px 32px;
}
.btn-grad .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: white;
}
.techvanto-campus-ambassador-right-content {
  text-align: center !important;
}
.large-text {
  font-size: 48px;
  font-variant: petite-caps;
  font-weight: bold;
}
.small-text {
  font-size: 21px;
}
