.techvanto-hiring-partner {
  height: 75px;
  margin: 10px;
  max-width: 200px;
}

.hiring-partner-section {
  min-height: 280px;
}
.hiring-partner-section .css-1oqqzyl-MuiContainer-root {
  max-width: 1800px;
}
