.techvanto-footer {
  /* min-height: 580px; */
  width: 100%;
}

.techvanto-footer img {
  vertical-align: auto !important;
  position: relative;
  bottom: 32px;
}
.techvanto-footer p {
  /* color: white; */
  display: flex;
  place-content: space-between;
  text-align: start;
}
.techvant-footer-upper-part {
  /* min-height: 480px; */
  width: 100%;
  position: relative;
  background-color: var(--color-primary);
}

.social a.social-link {
  font-size: 30px;
  border: 1px solid #767677;
  text-align: center;
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  text-decoration: none;
  vertical-align: middle !important;
  padding: 4px;
  background: var(--color-white);
}
.social a:hover {
  background-color: #ede8e8;
  transition: color 0.15s linear, background-color 0.15s linear,
    border-color 0.15s linear;
}

.social a.social-link svg {
  width: 25px;
  position: relative;
  bottom: 6.5px;
}
.techvanto-footer-lower-part {
  /* min-height: 100px; */
  width: 100%;
  position: relative;
  background-color: var(--color-secondary);
  bottom: 0;
}
.techvanto-footer-policies {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
}
.techvanto-policies {
  display: block;
  color: white;
}
.techvanto-footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 135.4%;
  letter-spacing: 0.1em;
  color: #ffffff;
  top: 100%;
}
.follow-links {
  padding: 0 10px 0 12px;
  position: relative;
  bottom: 40px;
}

.techvanto-footer-grid {
  color: var(--color-white);
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}
.footer-right-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.techvanto-footer-grid .fr3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.techvanto-footer-grid .fr4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.techvanto-footer-text-header {
  border-bottom-width: 3px;
  /* padding: 0 10px 0 12px;
  position: relative;
  bottom: 34px; */
  text-align: left;
}
.color {
  color: var(--color-secondary);
  font-weight: bold;
}
.techvanto-footer-text {
  display: flex;
  justify-content: left;
  align-items: center;
}

.techvanto-footer-copyright svg {
  width: 12px;
}

.techvanto-footer-link {
  text-decoration: none;
  color: var(--color-white);
}
@media (min-width: 1200px) {
  .techvanto-footer .css-1oqqzyl-MuiContainer-root {
    max-width: none !important;
  }
}
@media (max-width: 650px) {
  .techvanto-footer-grid {
    display: flow-root;
  }
}

.search-item {
  background: #e3c5cf;
  max-inline-size: fit-content;
  border-radius: 10px;
}
.space-between {
  display: flex;
  justify-content: space-around;
}
