.success {
  margin: 12rem auto;
  max-width: 600px;
}
.success-text {
  /* width: 80%; */
  width: 288px;
  /* height: 54px; */
  font-size: 15.8796px;
  line-height: 167.4%;
  text-align: center;
  margin: 40px auto;
}
@media screen and (max-width: 591px) {
  .success {
    margin: 12rem 10px;
  }
}
