html {
  --color-text: black;
  --color-heading: #d82a4f;
  --color-background: #eef4f6;
  --color-border: grey;
  --color-primary: #12273f;
  --color-secondary: #12273f;
  --gutter: 16px;
  --stories-slider-height: 600px;
  --color-footer: #000000;
  --color-footer-bottom: #2c2c2c;
  --color-white: white;
  --color-black: #000;
  --color-light-pink: #fbaed2;
  --color-green-icon: green;
  --color-red-icon: red;
  --color-secondary-header: #26445c;
  /* --bg-image: url(./Assets/Images/bg.jpg); */
  --color--bg-navbar: white;
  /* --color-navbar-text: #333; */
  --color-navbar-text: black;
  --border-color: #a4508b;
  scroll-behavior: smooth;
}
.display-grid {
  display: grid;
}
.fr4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.fr2 {
  grid-template-columns: 2fr 2fr;
}
.text-small {
  font-size: 14px;
}

.text-extra-small {
  font-size: 10px;
}

.text-medium {
  font-size: 20px;
}
